@import "./main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

:root {
  --primary: #494241;
  --secondary: #6c6c6c;
  --text: #494241;
  --light: #cec7c6;
  --border: #cec7c6;
  --shadow: 1px 1px 5px #cec7c6;
  --light-grey: #dddddd;
  --clearly: white;
  --error: orange;
}

body {
  font-weight: 400;
  color: var(--text);
  background: var(--light-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
  padding: 5px;
  border: 0.7px solid var(--border);
  border-radius: 7px;
  width: 100%;
  font-size: 0.9rem;
  color: var(--secondary);
}

input:focus {
  outline: none;
  border: 0.7px solid var(--primary);
}

::placeholder {
  font-size: 0.8rem;
}

label {
  font-weight: 500;
  color: var(--secondary);
}

.button {
  padding: 5px 10px;
  background-color: var(--primary);
  border: 0.5px solid var(--secondary);
  border-radius: 7px;
  font-size: 0.9rem;
  color: var(--clearly);
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary);
}

.button.secondary {
  background-color: var(--secondary);
}

.button.secondary:hover {
  background-color: var(--primary);
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  background: var(--clearly);
  border: 0.5px solid var(--border);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--shadow);
  line-height: 1.7rem;
}

.message {
  font-weight: 400;
}

.message.error {
  color: var(--error);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1rem;
  width: 100%;
  padding: 20px 50px;
}
